swagger_client (pip install git+https://github.com/sladkovm/strava-swagger-client)
gpxpy (pip install gpxpy)
fit2gpx (pip install fit2gpx)
poyline(pip insall polyline)
selenium(pip install selenium)
scipy (pip install scipy)